*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result list";
  justify-content: center;
  align-items: end;
  gap: 32px;
  width: 1140px;
  min-height: 538px;
}

.result {
 display: flex;
 flex-direction: column;
 grid-area: result;
}

.result__video-container {
 position: relative;
 width: 711px;
 height: 387px;
 margin-bottom: 15px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__details {
  display: flex;
  flex-direction: column;
  grid-area: list;
  gap: 22px;
  width: 100%;
  height: 100%;
}

.content__list-container {
  position: relative;
  width: 100%;
  height: 290px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 42px;
}

.content__video-card {
  display: flex;
  justify-content: center;
}

.content__video-card-thumbnail {
 width: 196px;
 height: 103px;
 object-fit: cover;
 object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.title {
  padding-top: 10px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: white;
  cursor: pointer;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {  */
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__video-card-title {
  color: white;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content__video-card-description {
  color: white;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.20px;
  line-clamp: inherit;
}

.content__card-link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} 

fieldset {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
 outline: 1px solid white;
 outline-offset: 1px;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
 position: relative;
 width: 19px;
 height: 19px;
 margin-right: 5px; 
 border: 1px solid white;
}

.search-form__pseudo-checkbox::after {
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
 content: "";
 position: absolute;
 top: 1px;
 left: 1px;
 width: 15px;
 height: 15px;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  border: 1px solid white;
  color: white;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus {
 outline: none;
}

.button:focus-visible { 
 outline: 1px solid white;
 outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
  margin-top: 18px;
}

.more-button {
 width: 100%;
}